/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
	@apply: right-0 border-green-400;
	right: 0;
	border-color: bg-gray-300;
}

html {
	overflow: hidden;
}
